
.container-detail{
    background-color: rgb(218, 28, 28);
    
    @media (min-width:768px) {
            display: flex;
            
        }
    
}

.img-detail {
    width: 430px;
    padding: 10px;
    border-radius: 10%;

        @media (min-width:768px) {
            align-items: center;
            }
}

.list-detail {
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;

    @media (min-width:768px) {
            padding: 100px;
        }
    
}