.title-list {
        list-style-type: none;
            align-items: center;
            text-align: center;
            text-decoration: none;
            
}

.container-card {
    background-color: chartreuse;
    width: 400px;
    margin: 20px;
    align-items: center;
}

.img-card {
    width: 250px;
    padding: 10px;
}